body {
    background-color: #1F1F1F;
    overflow-x: hidden;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-top: 30px;
    width: 500px;
    gap: 0px;
}

.mainbox {
    display: flex;
    margin-top: 30px;
    width: 455px;
}

.numbersbox {
    display: flex;
    flex-wrap: wrap;
    width: 222px;

}

.numbersbox>*:hover {
    animation: smooth .3s;
    animation-fill-mode: forwards;
}

@keyframes smooth {
    from {
        background-color: #e8ff84;
    }

    to {
        background-color: #ffffff;
    }
}

.btn {
    color: #000000;
    font-weight: bolder;
    padding: 30px 43px;
    margin: 5px;
    font-family: Montserrat;
    font-size: larger;
    cursor: pointer;
    background-color: #e8ff84;
    border-radius: 20px;
}

.operators {
    display: flex;
    flex-direction: column;
}

.operators>* {
    background-color: #e4ebc5;
}

.operators>*:hover {
    animation: smooth1 .3s;
    animation-fill-mode: forwards;
}

@keyframes smooth1 {
    from {
        background-color: #e4ebc5;
    }

    to {
        background-color: #ffffff;
    }
}

.output {
    background-color: azure;
    width: 453px;
    margin: auto 0px;
    height: 100px;
    border-radius: 30px;
}

.division {
    height: 121px;
}

.outputtext {
    font-size: 40px;
    padding: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.extrabtns>* {
    background-color: azure;
    padding: 30px 43px;
    margin: 5px;
}

.extrabtns>btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equal {
    height: 153px;
    background-color: rgb(255, 169, 63);

}

.equal:hover {
    animation: smooth 0.4s forwards;
}

@keyframes smooth {
    from {
        background-color: rgb(255, 169, 63);
    }

    to {
        background-color: rgb(255, 182, 182);
    }
}
.allclear:hover {
    animation: smooth 0.4s forwards;
}

@keyframes smooth {
    from {
        background-color: rgb(255, 169, 63);
    }

    to {
        background-color: rgb(255, 182, 182);
    }
}
.backspace:hover {
    animation: smooth 0.4s forwards;
}

@keyframes smooth {
    from {
          background-color: azure;
    }

    to {
        background-color: rgb(138, 255, 204);
    }
}
.backspace {
    width: 24px;
    height: 190px;
}

.backspace h4 {
    margin: 80px auto;
}


.allclear {
    width: 350px;
    background-color: rgb(255, 169, 63);
    border-radius: 30prgb(107, 87, 62)
}

.allclear h1 {
    text-align: center;
}
.error{
    padding: 20px;
    background-color: aliceblue;
    width: 300px;
    border-radius: 20px;
    height: 100px;
    position: absolute;
    right: 30px;
    top:30px;
    transform: translateX(500px);
    transition: transform .5s ease-in;
}
.error p,h2{
    color: #000000;
    font-size: 20px;
}
.show{
    transform: translateX(0px);
}
.main{
    display: flex;
    gap: 0px;
}
.history{
    position: absolute;
    height: 740px;
    width:940px;
    background-color: #e2e6d1;
    top: 40px;
    left: 530px;
    border-radius: 20px;
}
.historyelement{
    display: block;
    padding-top: 20px;
    width: 890px;

    padding-bottom: 10px;
    padding-left: 50px;
}
.historyelement:first-child:hover{
        color: white;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #878787;
}
.historyelement:hover{
    color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #878787;
}